<%= f.label :name, "Name" %>
<%= f.text_field :name %>

<%= f.label :description, "Description" %>
<%= f.text_area :description %>
<% if @event.errors.any? %>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <%= f.collection_select(:category_id, Category.all, :id, :name) %>
      <% end %>
      </ul>
<% end %>
